<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css"
		/>
		<title><% title %></title>
	</head>
	<body>
		<nav><a href="/add">ADD FLIGHT</a><a href="/show">SHOW FLIGHTS</a></nav>
		<div class="flightDisplay">
			<table>
				<tr>
					<td><%= flight.airline %></td>
					<td><%= flight.airport %></td>
					<td><%= flight.flightNo %></td>
					<td><%= flight.departs %></td>
					<td>
						<ul>
							<% flight.destination.forEach( destination => { %>
							<li><%= destination.airport %> - <%= destination.arrival %></li>
							<% }); %>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div class="add">
			<form
				action="/show/<%=flight.flightNo%>"
				method="POST"
			>
				<label>Airport</label>
				<select name="airport">
					<option value="AUS">AUS</option>
					<option value="DFW">DFW</option>
					<option value="DEN">DEN</option>
					<option value="LAX">LAX</option>
					<option value="SAN">SAN</option>
				</select>
				<br />
				<label>Date</label>
				<input
					type="date"
					name="arrival"
				/><br />
				<button type="submit">Add Destination</button>
			</form>
		</div>
	</body>
</html>
